<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <link rel="icon" type="image/png" href="./imgs/marto.jpg" /><!--IMAGEN DE ICONO DE PESTANA-->
    <title>{{title}}</title><!--TITULO-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" /><!--BOOTSTRAP-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/PersonalStyles.css" /><!--CSS DE CHRISTIAN RUALES(CHAFITA)-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <!--===================================INICIO DE ESTILOS=================================================-->


    <!--===================================FIN ESTILOS=================================================-->



</head>

<body>



<!--===================================INICIO GRID DOS COLUMNAS, LA MAQUINA Y LAS MONEDAS=================================================-->

<div class="row">

    <div class="col">
        <!--===================================INICIO GRID DOS COLUMNAS, LA MAQUINA Y LAS MONEDAS=================================================-->
        <table style="border-radius: 50px" class="table table-bordered">

            <tr>
                <td valign="top" class="colorFuera" >
                    <!--===================================INICIPO BLOQUE PRODUCTOS=========================================-->
                    <blockquote style='border-radius: 10px;font-family: "impact";font-size: 10;background-color: black'>
                        <br>
                        <div class="row">
                            <div class="col">

                                <img id="P1A" src="/images/coca.png" width="50" height="80">
                            </div>
                            <div class="col">
                                <img id="P1B" src="/images/sprite.png" width="50" height="80">
                            </div>
                            <div class="col">
                                <img id="P1C" src="/images/FANTA1.png" width="50" height="80">
                            </div>
                        </div>



                        <div class="row" style="margin: 0px;height: 15px;background-color: white; border-radius: 10px"> <!--BLOQUE PRECIOS Y NOMBRES-->
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                P1A: 1.00
                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                P1B:1.00
                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                P1C: 0.45
                            </div>
                        </div>
                        <br><br>


                        <div class="row">
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                <img id="P2A" src="/images/ruffles.png" width="50" height="80">
                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                <img id="P2B" src="/images/doritos.png" width="50" height="80">
                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                <img id="P2C" src="/images/cheetos.png" width="50" height="80">

                            </div>

                        </div>
                        <div class="row" style="margin: 0px;height: 15px;background-color: white; border-radius: 10px">
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                P2A: 0.50
                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px" >
                                P2B:0.50
                            </div>
                            <div class="col"style="font-family: 'pixel-berry'; font-size:8px" >
                                P2C: 0.50
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">

                                <img id="P3A" src="/images/galak.png" width="50" height="80">
                            </div>
                            <div class="col">
                                <img id="P3B" src="/images/tic.png" width="50" height="80">

                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                <img id="P3C" src="/images/snickers.png" width="50" height="80">

                            </div>
                        </div>

                        <div class="row" style="margin: 0px;height: 15px;background-color: white; border-radius: 10px">
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                P3A: 0.25
                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px">
                                P3B:0.40
                            </div>
                            <div class="col" style="font-family: 'pixel-berry'; font-size:8px" >
                                P3C: 0.75
                            </div>
                        </div>
                        <br><br>

                    </blockquote>

                    <!--===================================INICIPO BLOQUE PRODUCTOS=========================================-->
                    <!--===================================INICIO SALIDA DE SNACK Y MONEDAS DE VUELTO=========================================-->

                    <center>
                        <div class="row" style="align-items: center;">
                            <div class="col">
                                <div id="exitSnack"  style="width:100px;height:100px;background-color:Black;border-radius: 10px;border: white 1px solid;bottom: 0px;" ></div>
                            </div>
                            <div class="col">
                                <div id="exitMoney"  style="width:100px;height:50px;background-color:Black;border-radius: 10px;border: white 1px solid;" ></div>
                            </div>
                        </div>

                    </center>
                    <!--===================================fIN SALIDA DE SNACK Y MONEDAS DE VUELTO=========================================-->



                </td>

                <td valign="top" class="colorFuera" style="width:250px">



                    <!--===================================INICIO DISPLAY=========================================-->
                    <!--===style para cambiar disenos por defecto=========-->


                    <blockquote style="background-color: #4C6945;">
                        <marquee behavior="" direction="left">
                            <p name="precio" id="moneyInserted" style="width:200px;outline: 0;border: 0;background-color: #4C6945; font-size: small"></p>
                        </marquee>
                        <p name="precio" id="totalValue" style="width:200px;outline: 0;border: 0;background-color: #4C6945; font-size: small"></p>
                        <input type="text" name="textarea" id="write" onkeydown="return false" style="width:200px;outline: 0;border: 0;background-color: #4C6945 ">
                    </blockquote>
                    <br>
                    <!--===================================FIN DISPLAY=========================================-->


                    <!--===================================INICIO ESPACIOS PARA INSERTAR MONEDAS Y DOLARES=========================================-->
                    <div class="row">
                        <div class="col" style="float: left;">
                        </div>
                        <div class="col" style="float: left;">
                            <div  id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:10px;height:80px;border-radius: 4px;"></div>&nbsp;&nbsp;&nbsp;&nbsp; <!--Monedas-->
                        </div>
                        <div class="col" style="display: flex;justify-content: center ;align-items: center;">
                            <div id="div3" ondrop="dropDollars(event)" ondragover="allowDrop(event)" style="width:100px;height:10px;border-radius: 4px;"></div><!--DOLARES-->

                        </div>
                        <div class="col" style="float: left;">
                        </div>
                    </div>
                    <br><br>
                    <!--===================================FIN ESPACIOS PARA INSERTAR MONEDAS Y DOLARES=========================================-->
                    <!--===================================INICIO BOTONES=========================================-->

                    <div id="c1">
                        <center>
                            <input class="btn btn-outline-success" type="button" id="pagar" value="Pagar" style="width: 100px;height: 50"  onclick="BuyProductExample()"/>
                            <input class="btn btn-outline-danger" type="button" id="cancel" value="Cancelar" style="width: 100px;height: 50"  onclick="cancelOperation()"/>
                        </center><!--boton pagar-->

                        <br>
                        <!-- ////////////////////////////////////////////////////////////////////////////Letras minusculas por si las necesitas
                        <input class="btn btn-light" type="button" id="11" value="q" onclick="imprm(10);" />
                        <input class="btn btn-light" type="button" id="12" value="w" onclick="imprm(11);" />
                        <input class="btn btn-light" type="button" id="13" value="e" onclick="imprm(12);" />
                        <input class="btn btn-light" type="button" id="14" value="r" onclick="imprm(13);" />
                        <input class="btn btn-light" type="button" id="15" value="t" onclick="imprm(14);" />
                        <input class="btn btn-light" type="button" id="16" value="y" onclick="imprm(15);" />
                        <input class="btn btn-light" type="button" id="17" value="u" onclick="imprm(16);" />
                        <input class="btn btn-light" type="button" id="18" value="i" onclick="imprm(17);" />
                        <input class="btn btn-light" type="button" id="19" value="o" onclick="imprm(18);" />
                        <input class="btn btn-light" type="button" id="20" value="p" onclick="imprm(19);" />

                        <input class="btn btn-light" type="button" id="21" value="a" onclick="imprm(20);" />
                        <input class="btn btn-light" type="button" id="22" value="s" onclick="imprm(21);" />
                        <input class="btn btn-light" type="button" id="23" value="d" onclick="imprm(22);" />
                        <input class="btn btn-light" type="button" id="24" value="f" onclick="imprm(23);" />
                        <input class="btn btn-light" type="button" id="25" value="g" onclick="imprm(24);" />
                        <input class="btn btn-light" type="button" id="26" value="h" onclick="imprm(25);" />
                        <input class="btn btn-light" type="button" id="27" value="j" onclick="imprm(26);" />
                        <input class="btn btn-light" type="button" id="28" value="k" onclick="imprm(27);" />
                        <input class="btn btn-light" type="button" id="29" value="l" onclick="imprm(28);" />
                        <input class="btn btn-light" type="button" id="30" value="ñ" onclick="imprm(29);" />

                        <input class="btn btn-light" type="button" id="31" value="z" onclick="imprm(30);" />
                        <input class="btn btn-light" type="button" id="32" value="x" onclick="imprm(31);" />
                        <input class="btn btn-light" type="button" id="33" value="c" onclick="imprm(32);" />
                        <input class="btn btn-light" type="button" id="34" value="v" onclick="imprm(33);" />
                        <input class="btn btn-light" type="button" id="35" value="b" onclick="imprm(34);" />
                        <input class="btn btn-light" type="button" id="36" value="n" onclick="imprm(35);" />
                        <input class="btn btn-light" type="button" id="37" value="m" onclick="imprm(36);" />
                        -->
                    </div>




                    <div id="c2">

                        <br>
                        <input class="btn btn-light" type="button" id="11" value="Q" onclick="imprM(10);" />   <!--BOTONES MAYUSCULAS-->
                        <input class="btn btn-light" type="button" id="12" value="W" onclick="imprM(11);" />
                        <input class="btn btn-light" type="button" id="13" value="E" onclick="imprM(12);" />
                        <input class="btn btn-light" type="button" id="14" value="R" onclick="imprM(13);" />
                        <input class="btn btn-light" type="button" id="15" value="T" onclick="imprM(14);" />
                        <input class="btn btn-light" type="button" id="16" value="Y" onclick="imprM(15);" />
                        <input class="btn btn-light" type="button" id="17" value="U" onclick="imprM(16);" />
                        <input class="btn btn-light" type="button" id="18" value="I" onclick="imprM(17);" />
                        <input class="btn btn-light" type="button" id="19" value="O" onclick="imprM(18);" />
                        <input class="btn btn-light" type="button" id="20" value="P" onclick="imprM(19);" />

                        <input class="btn btn-light" type="button" id="21" value="A" onclick="imprM(20);" />
                        <input class="btn btn-light" type="button" id="22" value="S" onclick="imprM(21);" />
                        <input class="btn btn-light" type="button" id="23" value="D" onclick="imprM(22);" />
                        <input class="btn btn-light" type="button" id="24" value="F" onclick="imprM(23);" />
                        <input class="btn btn-light" type="button" id="25" value="G" onclick="imprM(24);" />
                        <input class="btn btn-light" type="button" id="26" value="H" onclick="imprM(25);" />
                        <input class="btn btn-light" type="button" id="27" value="J" onclick="imprM(26);" />
                        <input class="btn btn-light" type="button" id="28" value="K" onclick="imprM(27);" />
                        <input class="btn btn-light" type="button" id="29" value="L" onclick="imprM(28);" />
                        <input class="btn btn-light" type="button" id="30" value="&#209;" onclick="imprM(29);" />

                        <input class="btn btn-light" type="button" id="31" value="Z" onclick="imprM(30);" />
                        <input  class="btn btn-light" type="button" id="32" value="X" onclick="imprM(31);" />
                        <input class="btn btn-light" type="button" id="33" value="C" onclick="imprM(32);" />
                        <input class="btn btn-light" type="button" id="34" value="V" onclick="imprM(33);" />
                        <input class="btn btn-light" type="button" id="35" value="B" onclick="imprM(34);" />
                        <input class="btn btn-light" type="button" id="36" value="N" onclick="imprM(35);" />
                        <input class="btn btn-light" type="button" id="37" value="M" onclick="imprM(36);" />
                        <input class="btn btn-light" type="button" id="eliminar_caracter" value="Borrar" onclick="EliminarCaracter()" style="width:50px; height:30px; text-align:center; font-size:10px;" />

                        <br>

                        <br>
                        <input class="btn btn-light" type="button" id="1" value="1" onclick="imprm(0);" />   <!--TECLADO NUMERICO-->
                        <input class="btn btn-light" type="button" id="2" value="2" onclick="imprm(1);" />
                        <input class="btn btn-light" type="button" id="3" value="3" onclick="imprm(2);" />
                        <input class="btn btn-light" type="button" id="4" value="4" onclick="imprm(3);" />
                        <input class="btn btn-light" type="button" id="5" value="5" onclick="imprm(4);" />

                        <input class="btn btn-light" type="button" id="6" value="6" onclick="imprm(5);" />
                        <input class="btn btn-light" type="button" id="7" value="7" onclick="imprm(6);" />
                        <input class="btn btn-light" type="button" id="8" value="8" onclick="imprm(7);" />
                        <input class="btn btn-light" type="button" id="9" value="9" onclick="imprm(8);" />
                        <input class="btn btn-light" type="button" id="10" value="0" onclick="imprm(9);" />


                    </div>

                    <!-- -----------------------------F-------------------------IN BOTONES-------------------------------------------------------------------- -->
                </td>

            </tr>

        </table>

    </div>
    <!--==============================================INICIO BILLETERA =========================================-->

    <div class="col" >
        <blockquote>
            <center>
                <div class="row"> <!--BILLETERA MONEDAS-->

                    <div id="Div1dollarcent" ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 80;height: 80; border: 0px">

                        <img id="1dolarcent" class="circleButton" src="/images/1dolarcent.png" width="80" height="80" draggable="true" ondragstart="drag(event)"  >
                    </div>

                    <div id="Div50cent"  ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 100;height: 100; border: 0px">

                        <img id="50cent" class="circleButton" src="/images/50cents.png" alt="50 centavos" width="100" height="100" draggable="true" ondragstart="drag(event)">
                    </div>

                    <div id="Div25cent"  ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 70;height: 70; border: 0px" >
                        <img id="25cent" class="circleButton" src="/images/25cents.png" alt="25 centavos" width="70" height="70" draggable="true" ondragstart="drag(event)">
                    </div>

                    <div id="Div10cent"  ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 50;height: 50; border: 0px" >

                        <img id="10cent" class="circleButton" src="/images/10cents.png" alt="10 centavos" width="50" height="50" draggable="true" ondragstart="drag(event)">
                    </div>
                    <div id="Div5cent"  ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 60;height: 60; border: 0px">
                        <img id="5cent" class="circleButton" src="/images/5cents.png" alt="5 centavos" width="60" height="60" draggable="true" ondragstart="drag(event)">
                    </div>
                    <div id="Div1cent"  ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 55;height: 55; border: 0px" >
                        <img id="1cent" class="circleButton" src="/images/1cents.png" alt="1 centavo" width="55" height="55" draggable="true" ondragstart="drag(event)">
                    </div>
                </div>
            </center>
        </blockquote>

        <hr>

        <blockquote>

            <div id="Div1dollar"  ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 300;height: 150;">      <!--BILLETERA DOLARES-->
                <img id="1dollar" class="squarButton" src="/images/dollar.jpg" alt="1 dollar" width="300" height="150" draggable="true" ondragstart="drag(event)">
            </div>
            <div id="Div5dollar"  ondrop="dropBilletera(event)" ondragover="allowDrop(event)" style="width: 300;height: 150;">

                <img id="5dollar" class="squarButton" src="/images/10dollar.png" alt="Este es el ejemplo de un texto alternativo" width="300" height="150" draggable="true" ondragstart="drag(event)">
            </div>
        </blockquote>

    </div>
</div>


<!--===================================FIN GRID=================================================-->


<!--===================================INICIO JS'S PARA EL KEYBOARD=================================================-->
<!--jquery-->
<script src="/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/ElementsAnimations.js"></script><!--Mis animaciones (drag and drop y eso)-->
<script type="text/javascript" src="/javascripts/teclado.js"></script>
<!--===================================FIN JS'S PARA EL KEYBOARD=================================================-->


</body>
</html>